/* Fonts */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
}

/* Base */
:root {
  --basic-extra-dark: #000000;
  --basic-extra-dark--rgb: 0, 0, 0;
  --basic-dark: #444444;
  --basic-gray: #dcdcdc;
  --basic-extra-gray: #ebebeb;
  --basic-light: #f0f0f0;
  --basic-extra-light: #ffffff;
  --basic-extra-light--rgb: 255, 255, 255;
  --special-light: #ffe17f;
  --special-light-hover: #ffc700;
  --special-accent-hover: #af4fff;
  --status-error: #ff3d3d;
  --status-warning: #fd912e;
  --status-success: #08af00;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 1160px;
  min-height: 100%;
  margin: 0;
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-dark);
  background-color: var(--basic-extra-light);
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.main-container {
  flex-grow: 1;
}

.services,
.subscribe,
.products,
.page-footer {
  width: 100%;
}

.main-nav__list,
.slider__list,
.slider__details,
.slider__pagination,
.slider__pagination li,
.categories__list,
.services__btns,
.services__btns li,
.services__tabs,
.about__list,
.about__list li,
.breadcrumbs,
.breadcrumbs li,
.filter-form__list,
.filter-form__list li,
.pagination,
.pagination li,
.page-footer__info-list,
.page-footer__info-list li,
.page-footer__social-list,
.page-footer__social-list li {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Links & buttons */
a:not(.main-btn):focus {
  outline: 2px solid var(--special-accent-hover);
}

a:focus:not(:focus-visible) {
  outline: none;
}

a:not(.main-btn):focus-visible {
  outline: 2px solid var(--special-accent-hover);
}

.main-btn {
  position: relative;
  display: block;
  box-sizing: border-box;
  padding: 13px 34px;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 18px;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background: none;
  border: none;
  color: var(--basic-extra-dark);
}

.main-btn::before {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  margin-top: -4px;
  height: 8px;
  background-color: var(--special-light);
  content: "";
  z-index: -1;
}

.main-btn:hover {
  background-color: var(--special-light);
}

.main-btn:focus {
  outline: none;
}

.main-btn:focus-visible {
  outline: none;
}

.main-btn:focus::before {
  background-color: var(--special-accent-hover);
}

.main-btn:focus:not(:focus-visible)::before {
  background: none;
}

.main-btn:focus-visible::before  {
  background-color: var(--special-accent-hover);
}

.main-btn:active {
  color: rgba(var(--basic-extra-dark--rgb), 0.3);
}

/* Header */
.page-header {
  position: relative;
  padding-top: 40px;
  flex-shrink: 0;
}

.header-logo {
  position: absolute;
  top: 3px;
  left: 47px;
  width: 145px;
  height: 36px;
  padding: 14px;
  border-radius: 20px;
}

.header-logo__icon {
  fill: var(--basic-extra-dark);
}

.header-logo__icon path:last-child {
  fill: #510094;
}

.header-logo:hover {
  transform: scale(1.05);
  transition: transform 0.3s linear;
}

.header-logo:active {
  border-color: transparent;
  opacity: 0.5;
}

/* Search form */
.search-form {
  display: flex;
  justify-content: space-between;
  width: 536px;
  height: 38px;
  border-radius: 20px;
}

.search-form * {
  box-sizing: border-box;
}

.search-form__input {
  flex-grow: 1;
  padding: 0 0 0 58px;
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 16px;
  background: url(../img/icons/search.svg) no-repeat 22px 50%;
  border: none;
  border-radius: 20px 0 0 20px;
  color: var(--basic-extra-dark);
  opacity: 0.3;
}

.search-form__input:hover {
  opacity: 0.6;
}

.search-form__input--active:focus {
  outline: none;
  opacity: 1;
}

.search-form__btn {
  visibility: hidden;
  width: 160px;
  padding: 0;
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 16px;
  color: var(--basic-extra-dark);
  background: none;
  border: none;
  border-radius: 0 20px 20px 0;
}

.search-form:focus-within .search-form__input {
  outline: 2px solid var(--basic-extra-dark);
}

.search-form:focus-within .search-form__btn {
  visibility: visible;
  outline: 2px solid var(--basic-extra-dark);
  cursor: pointer;
}

.search-form:focus-within .search-form__btn:hover {
  background: var(--basic-extra-dark);
  color: var(--basic-extra-light);
  outline-color: var(--basic-extra-dark);
}

.search-form:focus-within .search-form__btn:focus {
  outline-color: var(--special-accent-hover);
}

.search-form:focus-within .search-form__btn:active {
  color: rgba(var(--basic-extra-light--rgb), 0.3);
  outline-color: var(--basic-extra-dark);
}

/* Header navigation */
.main-nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 39px 46px 37px 38px;
  background-color: var(--special-light);
}

.main-nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.user-nav {
  justify-content: flex-end;
  width: 530px;
  min-height: 54px;
  margin-top: 6px;
  font-size: 16px;
  line-height: 19px;
}

.user-nav__login {
  flex-grow: 1;
}

.user-nav__profile {
  width: 160px;
}

.user-nav__compare {
  margin-right: 31px;
}

.user-nav__exit {
  margin-right: auto;
  opacity: 0.3;
}

.user-nav__link {
  display: inline-flex;
  padding: 4px 14px 4px 24px;
  text-decoration: none;
  border-radius: 20px;
  color: var(--basic-extra-dark);
}

.user-nav__link:hover {
  opacity: 0.6;
}

.user-nav__link:focus {
  outline-offset: 5px;
}

.user-nav__link:focus-visible {
  outline-offset: 5px;
}

.user-nav__link:active {
  opacity: 0.3;
}

.user-nav__login a,
.user-nav__profile a {
  padding-left: 41px;
  background: url("../img/icons/user.svg") no-repeat 16px 7px;
}

.user-nav__profile a {
  padding-right: 8px;
}

.user-nav__exit a {
  padding-left: 14px;
}

.user-nav__compare a {
  padding-left: 40px;
  background: url("../img/icons/compare.svg") no-repeat 20px 45%;
}

.user-nav__cart a {
  display: flex;
  padding-left: 0;
  background: url("../img/icons/cart.svg") no-repeat 10px 30%;
}

.user-nav .cart-quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 21px;
  height: 21px;
  margin: 0 20px 0 -5px;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  background-color: var(--basic-extra-light);
  border-radius: 50%;
}

.basic-nav {
  justify-content: flex-end;
  width: 100%;
  min-height: 50px;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.basic-nav__item {
  line-height: 50px;
}

.basic-nav__item:first-child {
  margin-right: auto;
  margin-left: 12px;
}

.basic-nav__item:nth-child(2) {
  width: 160px;
}

.basic-nav__item:nth-last-child(2) {
  width: 215px;
}

.basic-nav__item:last-child {
  margin-right: 3px;
}

.basic-nav__link {
  position: relative;
  padding: 4px 6px 4px 10px;
  text-decoration: none;
  border-radius: 25px;
  color: var(--basic-extra-dark);
}

.basic-nav__item:not(.basic-nav__catalog) .basic-nav__link::before {
  position: absolute;
  right: 10px;
  bottom: -1px;
  left: 10px;
  height: 2px;
  content: "";
}

.basic-nav__link:hover::before {
  background-color: var(--basic-extra-dark);
}

.basic-nav__link:focus {
  outline-offset: 10px;
}

.basic-nav__link:focus-visible {
  outline-offset: 10px;
}

.basic-nav__link:active {
  opacity: 0.3;
}

.basic-nav__catalog a {
  padding-right: 5px;
}

.basic-nav__catalog a::after {
  box-sizing: border-box;
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  margin-left: 16px;
  color: var(--basic-extra-dark);
  background: url("../img/icons/plus.svg") no-repeat 50% 50%;
  border: 2px solid var(--basic-extra-dark);
  border-radius: 50%;
  opacity: 0.2;
}

.basic-nav__catalog a:hover::after {
  background-image: url("../img/icons/minus.svg");
  opacity: 1;
}

/* Index: slider */
.slider {
  position: relative;
  margin-bottom: 70px;
  border-top: 114px solid var(--special-light);
}

.slider__list {
  display: flex;
  width: 1160px;
  counter-reset: slider-counter;
  margin-top: -150px;
  overflow: hidden;
}

.slider__list li {
  counter-increment: slider-counter;
  position: relative;
}

.slider__list li::before {
  content: counter(slider-counter, decimal-leading-zero);
  position: absolute;
  top: 7px;
  right: 49px;
  z-index: 0;
  font-size: 180px;
  line-height: 1;
  font-weight: 800;
  color: var(--basic-extra-light);
}

.slider__item {
  position: relative;
  z-index: 1;
  display: flex;
  width: 1160px;
  justify-content: space-between;
}

.slider__img {
  width: 560px;
}

.slider__descr {
  width: 560px;
  padding-top: 122px;
}

.slider__lead {
  margin: 0 0 28px 0;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: var(--basic-extra-dark);
}

.slider__txt {
  margin: 0 0 36px 0;
}

.slider__details {
  display: grid;
  grid-column-gap: 20px;
  grid-template-columns: repeat(3, minmax(140px, max-content));
  grid-template-rows: repeat(2, min-content);
}

.slider__details dt {
  grid-row: 2 / -1;
  font-size: 16px;
}

.slider__details dd {
  margin: 0 0 11px 0;
  font-size: 36px;
  color: var(--basic-extra-dark);
}

.slider__link {
  width: 220px;
  height: 50px;
  margin-bottom: 54px;
  line-height: 50px;
  padding: 0;
}

.slider__link:hover {
  background-color: var(--special-light);
}

.slider__nav {
  box-sizing: border-box;
  position: absolute;
  top: 92px;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  width: 560px;
  padding: 0 11px;
}

.slider__btn {
  width: 36px;
  height: 76px;
  background: no-repeat 50% 50%;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.slider__prev {
  background-image: url("../img/icons/left-big-arrow.svg");
}

.slider__next {
  background-image: url("../img/icons/right-big-arrow.svg");
}

.slider__btn:hover {
  opacity: 0.6;
}

.slider__btn:focus {
  outline: 2px solid var(--special-accent-hover);
}

.slider__btn:focus:not(:focus-visible) {
  outline: none;
}

.slider__btn:not(.main-btn):focus-visible {
  outline: 2px solid var(--special-accent-hover);
}

.slider__btn:active {
  opacity: 0.3;
}

.slider__pagination {
  position: absolute;
  top: 50%;
  right: 60px;
  display: flex;
  margin-top: 10px;
  z-index: 1;
}

.slider__pagination li:not(:last-child) {
  margin-right: 22px;
}

.slider__pagination-btn {
  display: block;
  width: 12px;
  height: 12px;
  padding: 0;
  background: var(--basic-extra-light);
  border: 2px solid var(--basic-extra-dark);
  border-radius: 50%;
  cursor: pointer;
}

.slider__pagination-btn:not(.slider__pagination-btn--active):hover {
  opacity: 0.6;
}

.slider__pagination-btn:focus {
  outline: 2px solid var(--special-accent-hover);
  outline-offset: -2px;
}

.slider__pagination-btn:focus:not(:focus-visible) {
  outline: none;
}

.slider__pagination-btn:focus-visible {
  outline: 2px solid var(--special-accent-hover);
  outline-offset: -2px;
}

.slider__pagination-btn:not(.slider__pagination-btn--active):active {
  opacity: 0.3;
}

.slider__pagination-btn--active {
  background-color: var(--basic-extra-dark);
  cursor: default;
}

/* Index: categories */
.categories {
  margin-bottom: 180px;
}

.categories__list {
  display: flex;
  justify-content: space-between;
}

.categories__list li {
  width: 160px;
}

.categories__list a {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 160px;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-decoration: none;
  color: var(--basic-extra-dark);
}

.categories__list a::before {
  content: "";
  width: 160px;
  height: 160px;
  margin-bottom: 33px;
  background-color: var(--special-light);
}

.categories__list a::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 160px;
  height: 160px;
  background: no-repeat 50% 50%;
}

.categories__list .virtual-reality::after {
  background-image: url("../img/icons/virtual-reality.svg");
}

.categories__list .monopod::after {
  background-image: url("../img/icons/monopod.svg");
  background-position-y: 100%;
}

.categories__list .action-camera::after {
  background-image: url("../img/icons/action-camera.svg");
  background-position-x: 55%;
}

.categories__list .fitnes-band::after {
  background-image: url("../img/icons/fitnes-band.svg");
}

.categories__list .smartwatch::after {
  background-image: url("../img/icons/smartwatch.svg");
}

.categories__list .quadrocopter::after {
  background-image: url("../img/icons/quadrocopter.svg");
}

.categories__list a:hover::before {
  background-color: var(--special-light-hover);
}

.categories__list a:focus {
  outline: none;
  color: var(--special-accent-hover);
}

.categories__list a:focus:not(:focus-visible) {
  color: rgba(var(--basic-extra-dark--rgb), 0.3);
}

.categories__list a:focus-visible {
  outline: none;
  color: var(--special-accent-hover);
}

.categories__list a:focus::before {
  outline: 5px solid var(--special-accent-hover);
}

.categories__list a:focus:not(:focus-visible)::before {
  outline: none;
}

.categories__list a:focus-visible::before {
  outline: 5px solid var(--special-accent-hover);
}

.categories__list a:active {
  color: rgba(var(--basic-extra-dark--rgb), 0.3);
}

.categories__list a:active::after {
  opacity: 0.3;
}

/* Index: services */
.services {
  margin-bottom: 90px;
  padding-bottom: 68px;
  background-color: var(--basic-light);
}

.services .container {
  display: flex;
}

.services__up {
  margin-top: -100px;
}

.services__btns {
  width: 277px;
  margin-right: 115px;
  padding: 80px 0 72px;
  border-right: 7px solid var(--basic-extra-dark);
}

.services__btns li:not(:last-child) {
  margin-bottom: 24px;
}

.services__btn {
  width: 160px;
  height: 40px;
  line-height: 40px;
  padding: 0;
  z-index: 1;
}

.services__btn::before {
  background-color: var(--special-light-hover);
}

.services__btn:not(.services__btn--active):hover {
  background-color: var(--special-light-hover);
  transition: background-color 0.5s linear;
  cursor: pointer;
}

.services__btn:not(.services__btn--active):hover::before {
  background-color: transparent;
}

.services__btn:active,
.services__btn--active {
  width: 280px;
  padding-left: 17px;
  text-align: left;
  color: var(--special-light);
  background-color: var(--basic-extra-dark);
}

.services__btn--active:hover {
  background-color: var(--basic-extra-dark);
}

.services__btn--active::before,
.services__btn:active::before {
  background: none;
}

.services__tabs {
  display: flex;
  width: 695px;
  padding-top: 72px;
  overflow: hidden;
}

.services__tab {
  flex-shrink: 0;
  width: 495px;
  min-height: 195px;
  padding-right: 200px;
  background: no-repeat 100% 0;
}

.services__title {
  margin: 0;
  margin-bottom: 33px;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: var(--basic-extra-dark);
}

.services__descr {
  margin: 0;
  padding: 0;
}

.services__delivery {
  background-image: url("../img/icons/delivery.svg");
  background-position-y: 16%;
}

.services__warranty {
  background-image: url("../img/icons/warranty.svg");
}

.services__credit {
  background-image: url("../img/icons/credit.svg");
}

/* Index: delivery button */
.delivery-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  margin-bottom: 97px;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 20px;
  letter-spacing: 0.2em;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--basic-extra-dark);
  background-color: var(--basic-light);
}

.delivery-btn::before {
  content: "";
  width: 125px;
  height: 100px;
  background: var(--special-light) url("../img/icons/delivery-btn.svg") no-repeat 50% 50%;
}

.delivery-btn .info-btn {
  width: 40px;
  height: 40px;
  margin: 0 33px 0 48px;
  background: var(--basic-gray) url("../img/icons/info.svg") no-repeat 50% 50%;
  border-radius: 50%;
  opacity: 0.5;
}

.delivery-btn:hover {
  background-color: var(--basic-extra-gray);
}

.delivery-btn:hover::before {
  background-color: var(--special-light-hover);
}

.delivery-btn:hover .info-btn {
  opacity: 1;
}

.page-main .delivery-btn:focus {
  outline-width: 5px;
  outline-offset: -2px;
}

.page-main .delivery-btn:focus-visible {
  outline-width: 5px;
  outline-offset: -2px;
}

.delivery-btn:active {
  color:rgba(var(--basic-extra-dark--rgb), 0.3);
}

/* Index: about */
.about {
  display: flex;
  justify-content: space-between;
}

.about__block {
  position: relative;
  width: 560px;
  padding-top: 50px;
}

.about__block::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 7px;
  background-color: var(--basic-extra-dark);
}

.about__block p {
  margin: 0 0 30px 0;
}

.about__title {
  margin: 0 0 45px 0;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: var(--basic-extra-dark);
}

.about__subtitle {
  margin: 0 0 15px 0;
  font-size: 24px;
}

.about__time {
  display: grid;
  column-gap: 5px;
  grid-template-columns: auto 1fr;
  margin: 0 0 51px 0;
}

.about__time dd {
  margin: 0;
}

.about__link {
  display: inline-block;
  margin-bottom: 68px;
}

.about__list {
  margin-bottom: 57px;
  padding-top: 45px;
}

.about__list li {
  margin-bottom: 20px;
  line-height: 20px;
  font-weight: 700;
  color: var(--basic-extra-dark);
}

.about__list li::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 8px;
  height: 8px;
  margin-right: 27px;
  background-color: var(--special-light-hover);
  border-radius: 50%;
}

.about__address {
  font-style: normal;
}

.about__phone {
  color: var(--basic-dark);
  border-radius: 10px;
}

.about__phone:hover {
  text-decoration: none;
}

.about__phone:focus  {
  outline-offset: 5px;
}

.about__phone:focus-visible {
  outline-offset: 5px;
}

.about__phone:active  {
  opacity: 0.3;
}

/* Index: subscribe */
.subscribe {
  padding: 75px 0;
  background-color: var(--basic-light);
}

.subscribe .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.subscribe__title {
  width: 360px;
  margin: 0;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: var(--basic-extra-dark);
}

.subscribe__descr {
  align-self: flex-end;
  margin: 0;
  width: 560px;
}

.subscribe-form {
  display: flex;
  padding: 58px 0;
}

.subscribe-form__input {
  box-sizing: border-box;
  width: 600px;
  height: 55px;
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 18px;
  background: none;
  border: none;
  border-bottom: 3px solid rgba(var(--basic-extra-dark--rgb), 0.1);
}

.subscribe-form__btn {
  box-sizing: border-box;
  width: 260px;
  height: 55px;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  border: 3px solid rgba(var(--basic-extra-dark--rgb), 0.1);
}

.subscribe__free {
  align-self: center;
  margin: 0;
  padding-left: 35px;
  background: url("../img/icons/tick-big.svg") no-repeat 0 50%;
}

/* Catalog page: inner header  */
.main-inner__header {
  box-sizing: border-box;
  padding: 38px 60px 44px;
}

.main-inner__title {
  margin: 0 0 17px 0;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: var(--basic-extra-dark);
}

.breadcrumbs li {
  display: inline;
  font-size: 16px;
  line-height: 19px;
}

.breadcrumbs li:not(:last-child) {
  padding-right: 31px;
}

.breadcrumbs a {
  text-decoration: none;
  color: rgba(var(--basic-extra-dark--rgb), 0.6);
}

.breadcrumbs a:hover {
  color: var(--basic-extra-dark);
}

/* Catalog page: products base */
.products {
  display: flex;
  background: linear-gradient(var(--basic-extra-gray) 70px, transparent 70px);
}

.products__subtitle {
  height: 70px;
  margin: 0;
  padding: 0;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 16px;
  line-height: 70px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.products .btn {
  box-sizing: border-box;
  display: block;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background: none;
  border: none;
}

.products .btn-more {
  box-sizing: border-box;
  width: 100%;
  margin: 0 0 51px 0;
  padding: 14px;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background: none;
  border: 3px solid rgba(var(--basic-extra-dark--rgb), 0.1);
}

/* Catalog page: products filter */
.products__filter-container {
  display: flex;
  justify-content: flex-end;
  width: calc(50% - 252px);
  margin-right: 72px;
  background:
    linear-gradient(var(--basic-gray) 70px, transparent 70px),
    var(--basic-extra-gray);
}

.products__filter {
  width: 200px;
  margin-right: 68px;
}

.products__filter .products__subtitle {
  margin-bottom: 70px;
}

.filter-form fieldset {
  margin: 0;
  padding: 0  0 40px 0;
  border: none;
}

.filter-form legend {
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
}

.control-label {
  font-size: 16px;
  line-height: 19px;
  color: var(--basic-extra-dark);
}

.filter-price label {
  font-size: 15px;
  line-height: 18px;
  color: rgba(var(--basic-extra-dark--rgb), 0.3);
}

/* Catalog page: sorting */
.products__main-container {
  width: 760px;
}

.products__sort {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.sort-form {
  margin-right: auto;
}

.products__sort .products__subtitle {
  margin-right: 43px;
}

.sort-btn {
  justify-content: flex-end;
  margin-left: 19px;
  width: 11px;
  height: 10px;
}

/* Catalog page: products list */
.products__list {
  display: grid;
  grid-template-columns: repeat(2, 360px);
  gap: 47px 40px;
  padding: 70px 0 47px;
}

.product-card {
  position: relative;
}

.product-card a {
  text-decoration: none;
  color: var(--basic-extra-dark);
}

.product-card img {
  margin-bottom: 31px;
}

.product-card__link {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-card__title {
  width: 280px;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.product-card__price {
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-dark);
}

.products__list .btn {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 360px;
  height: 380px;
  line-height: 380px;
  text-align: center;
  background-color: var(--basic-light);
  opacity: 0.8;
}

.product-card:hover .product-card__btn {
  display: block;
}

/* Catalog page: pagination */
.products__pagination {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 78px;
  background-color: var(--basic-extra-gray);
}

.pagination__item:not(:nth-last-child(2)) {
  margin-right: 7px;
}

.pagination .pagination__btn-prev {
  margin-right: auto;
}

.pagination .pagination__btn-next {
  margin-left: auto;
}

.pagination__btn a {
  display: block;
  padding: 20px 29px;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--basic-extra-dark);
  opacity: 1;
}

.pagination__item {
  display: flex;
  align-items: center;
}

.pagination__item a {
  padding: 5px 10px;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: var(--basic-dark);
  opacity: 0.3;
}

.pagination__item a:hover {
  opacity: 1;
}

.pagination__item a:active {
  opacity: 0.1;
}

/* Footer */
.page-footer {
  flex-shrink: 0;
  padding: 56px 0 61px;
  font-size: 16px;
  line-height: 19px;
  color: var(--basic-extra-light);
  background-color: var(--basic-dark);
}

.page-footer a {
  text-decoration: none;
  color: var(--basic-extra-light);
}

.page-footer svg {
  fill: var(--special-light-hover);
}

.page-footer__logo {
  display: block;
  width: 145px;
  margin-bottom: 26px;
  padding: 5px 0;
  border-radius: 20px;
}

.page-footer__logo:hover {
  transform: scale(1.05);
  transition: transform 0.3s linear;
}

.page-footer__logo:hover svg {
  fill: var(--basic-extra-light);
}

.page-footer__logo:focus {
  outline-offset: 12px;
}

.page-footer__logo:focus-visible {
  outline-offset: 10px;
}

.page-footer__logo:active {
  opacity: 0.3;
}

.page-footer__address {
  display: flex;
  justify-content: space-between;
  font-style: normal;
}

.page-footer__address p {
  width: 250px;
  margin: 0;
}

.page-footer__phone {
  margin-top: 6px;
  border-radius: 25px;
}

.page-footer__phone:hover {
  color: var(--special-light-hover);
}

.page-footer__phone:focus {
  outline-offset: 10px;
}

.page-footer__phone:focus-visible {
  outline-offset: 10px;
}

.page-footer__phone:active {
  opacity: 0.3;
}

.page-footer__info {
  margin: -39px 241px 57px 245px;
}

.page-footer__info-list {
  display: flex;
  justify-content: center;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.page-footer__info-item:not(:last-child) {
  margin-right: 18px;
}

.page-footer__info-link {
  position: relative;
  display: block;
  padding: 5px;
  border-radius: 25px;
}

.page-footer__info-link::before {
  position: absolute;
  right: 8px;
  bottom: -1px;
  left: 6px;
  height: 2px;
  content: "";
}

.page-footer__info-link:hover,
.page-footer__info-link:active {
  color: var(--special-light-hover);
}

.page-footer__info-link:hover::before {
  background-color: var(--special-light-hover);
}

.page-footer__info-link:focus {
  outline-offset: 10px;
}

.page-footer__info-link:focus-visible {
  outline-offset: 10px;
}

.page-footer__info-link:active {
  color: var(--special-light-hover);
  opacity: 0.3;
}

.page-footer__social {
  display: flex;
  align-items: center;
}

.page-footer__social::before {
  content: "";
  width: 80px;
  height: 7px;
  background-color: var(--special-light-hover);
}

.page-footer__social-list {
  display: flex;
  margin: auto;
  padding-right: 80px;
}

.page-footer__social-item {
  width: 40px;
}

.page-footer__social-item:not(:last-child) {
  margin-right: 15px;
}

.page-footer .btn-social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  text-align: center;
  background-color: rgba(var(--basic-extra-light--rgb), 0.3);
  border-radius: 50%;
}

.btn-social:hover {
  background-color: var(--special-light-hover);
}

.btn-social:focus {
  background: none;
  outline-width: 5px;
}

.btn-social:focus:not(:focus-visible) {
  background-color: var(--special-light-hover);
}

.btn-social:focus-visible {
  background: none;
  outline-width: 5px;
}

.page-footer .btn-social:active {
  background-color: var(--special-light-hover);
}

.btn-social svg {
  fill: var(--basic-dark);
}

.btn-social:focus svg {
  fill: var(--basic-extra-light);
}

.btn-social:focus:not(:focus-visible) svg {
  fill: var(--basic-dark);
  fill-opacity: 0.3;
}

.btn-social:focus-visible svg {
  fill: var(--basic-extra-light);
}

.btn-social:active svg {
  fill-opacity: 0.3;
}

.page-footer__copyright {
  display: block;
  width: 115px;
  margin-top: -37px;
  margin-left: auto;
  border-radius: 10px;
}

.page-footer__copyright:hover svg {
  fill: var(--basic-extra-light);
}

.page-footer__copyright:focus {
  outline-offset: 10px;
}

.page-footer__copyright:focus-visible {
  outline-offset: 10px;
}

.page-footer__copyright:active {
  opacity: 0.3;
}
