/* Fonts */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("/fonts/raleway/raleway-800.woff2") format("woff2");
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/rubik/rubik-400.woff2") format("woff2");
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/rubik/rubik-800.woff2") format("woff2");
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("/fonts/rubik/rubik-800.woff2") format("woff2");
}

/* Base */
:root {
  --basic-extra-dark: #000000;
  --basic-dark: #444444;
  --basic-gray: #dcdcdc;
  --basic-extra-gray: #ebebeb;
  --basic-light: #f0f0f0;
  --basic-extra-light: #ffffff;
  --basic-extra-light--rgb: 255, 255, 255;
  --special-light: #ffe17f;
  --special-light-hover: #ffc700;
  --special-accent-hover: #af4fff;
  --status-error: #ff3d3d;
  --status-warning: #fd912e;
  --status-success: #08af00;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

body {
  font-family: "Rubik", Arial, sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-dark);
  background-color: var(--basic-extra-light);
}

/* Header */
.page-header__logo svg {
  fill: var(--basic-extra-dark);
}

.page-header__logo path:last-child {
  fill: #510094;
}

.main-nav {
  background: var(--special-light);
}

/* Index: categories */
.categories__list a {
  display: block;
  width: 160px;
  height: 160px;
  background: var(--special-light) no-repeat 50% 50%;
}

.categories__list .virtual-reality {
  background-image: url("/img/icons/virtual-reality.svg");
}

.categories__list .monopod {
  background-image: url("/img/icons/monopod.svg");
}

.categories__list .action-camera {
  background-image: url("/img/icons/action-camera.svg");
}

.categories__list .fitnes-band {
  background-image: url("/img/icons/fitnes-band.svg");
}

.categories__list .smartwatch {
  background-image: url("/img/icons/smartwatch.svg");
}

.categories__list .quadrocopter {
  background-image: url("/img/icons/quadrocopter.svg");
}

/* Index: services */
.services__tabs li {
  min-height: 195px;
  padding-right: 200px;
  background: no-repeat 100% 50%;
}

.services__tabs .services__delivery {
  background-image: url("/img/icons/delivery.svg");
}

.services__tabs .services__warranty {
  background-image: url("/img/icons/warranty.svg");
}

.services__tabs .services__credit {
  background-image: url("/img/icons/credit.svg");
}

/* Index: delivery button */
.delivery-btn {
  position: relative;
  display: block;
  height: 100px;
  line-height: 100px;
  padding-left: 125px;
  text-align: center;
  background-color: var(--basic-light);
}

.delivery-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 125px;
  height: 100px;
  background: var(--special-light) url("/img/icons/delivery-btn.svg") no-repeat 50% 50%;
}

/* Index: subscribe */
.subscribe {
  background-color: var(--basic-light);
}

.subscribe__free {
  padding-left: 35px;
  background: url("/img/icons/tick-big.svg") no-repeat;
}

/* Inner page (catalog) */
.main-inner__header h1 {
  font-family: "Raleway", Arial, sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  color: var(--basic-extra-dark);
}

/* Footer */
.page-footer {
  background-color: var(--basic-dark);
}

.page-footer svg {
  fill: var(--special-light-hover);
}

.page-footer .btn-social {
  display: block;
  width: 40px;
  height: 40px;
  text-align: center;
  background-color: rgba(var(--basic-extra-light--rgb), 0.3);
  border: 5px solid var(--basic-dark);
  border-radius: 50%;
}

.page-footer .btn-social:hover {
  background-color: var(--special-light-hover);
}

.page-footer .btn-social:active {
  border-color: var(--basic-dark);
  background-color: var(--special-light-hover);
}

.page-footer .btn-social:focus {
  border-color: var(--special-accent-hover);
  background-color: var(--basic-dark);
}

.btn-social svg {
  fill: var(--basic-dark);
}

.btn-social:focus svg {
  fill: var(--basic-extra-light);
}
